#signIn {
  background: linear-gradient(to right, #267871, #136a8a);
}

header {
  background: linear-gradient(to left, #267871, #136a8a);
}
.siu {
  background: linear-gradient(to right, #267871, #136a8a);
}